.body_country {
    margin-left: 80px;
    width: 100%;
    height: 100%;
}

.head_body_country {
    margin-top: 25px;
    width: 100%;
}

.head_body_country a {
    text-decoration: none;
    width: 200px
}

.btn_back_country {
    width: 200px;
    height: 45px;
    position: relative;
    background-color: var(--el-dark-blue);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn_back_country p {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 500;
}

.middle_body_country {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.middle_body_country img {
    width: 560px;
    border-radius: 5px;
    height: 280px;
}

.content_middle_country {
    margin-top: -10px;
    margin-left: 75px;
}

.title_content_middle {
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-bottom: 25px;
}

.description_content_country {
    color: white;
    font-size: 20px;
}

.border_country {
    font-size: 20px;
    color: white;
    margin-top: 25px;
    margin-left: 0;
    display: flex;
    height: 150px;
    width: 800px;
    flex-wrap: wrap;
}

.border_country p {
    font-weight: 600;
}

